<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Tressed App" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div id="buttons" class="row">
    <% if user_signed_in? %>
      <%= link_to "New Post", new_post_path %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete)%>
    <% else %>
      <%= link_to "Join Now", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
