<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Tressed App" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>

  <% if notice %>
    <div id="notifications">
      <p class="notice"><%= notice %></p>
    </div>
  <% elsif alert %>
    <div id="notifications">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>

    <%= yield %>

  <script>
    $(document).ready(
      function fadeThemOut(){
        setTimeOut(function(){
          $("#notifications").fadeOut("slow", function(){
          $(this).remove();
          })
        },3500);
      }
    fadeThemOut()
    );
  </script>
  </body>
</html>
