/ USER LOGIN FORM
%header.top-bar
  %h3#SiteTitle.top-bar-left
    = link_to "Tressed", root_path
  %div#useract.top-bar-right
    - if user_signed_in?
      = link_to "About", about_path
      = link_to 'All Posts', posts_path
      = link_to 'New Post', new_post_path
      = link_to('<button type="button" class="hibye button">Logout</button>'.html_safe, destroy_user_session_path, :method => :delete)
    - else
      = link_to "About", about_path
      = link_to 'All Posts', posts_path
      = link_to 'New Post', new_post_path
      = link_to'<button type="button" class="hibye2 button">Join Now</button>'.html_safe, new_user_registration_path

.row
  %h2 Login
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs
      = f.input :email, required: false, autofocus: true
      = f.input :password, required: false
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions
      = f.button :submit, "LOGIN"
  = render "devise/shared/links"
