%header.top-bar
  %h3#SiteTitle.top-bar-left
    = link_to "Tressed", root_path

  %div#useract.top-bar-right
    - if user_signed_in?
      = link_to '<button type="button" class="success button">All Posts</button>'.html_safe, posts_path
      = link_to '<button type="button" class="success button">New Post</button>'.html_safe, new_post_path
      = link_to('<button type="button" class="danger button">Logout</button>'.html_safe, destroy_user_session_path, :method => :delete)
    - else
      = link_to '<button type="button" class="secondary button">HOME</button>'.html_safe, root_path
      = link_to '<button type="button" class="success button">JOIN NOW</button>'.html_safe, new_user_registration_path
      = link_to '<button type="button" class="success button">LOGIN</button>'.html_safe, new_user_session_path

%div.row
  Now Editing
  %h2= @post.title

  = render 'form'

  = link_to "Cancel", post_path
