!!!
%html
  %head
    %title Tressed App
  %body
    %div#background
      %header.home-top-bar.cf
        %h3#SiteTitleHome.top-bar-left
          = link_to 'Tressed', root_path
        #homelinks.top-bar-right
          - if user_signed_in?
            = link_to "About", about_path
            = link_to "Hair Profile", intake_path
            = link_to "Update Login", edit_user_registration_path
            = link_to('Logout', destroy_user_session_path, :method => :delete)
          - else
            = link_to "About", about_path
      #intro.row
        - if user_signed_in?
          %h2.fancy
            Hey there gorgeous! Welcome back to Tressed!
            %br/
          %p Share about your hair journey, what's new?

        - else
          %h3.fancy
            Every hair journey is different, unique and beautiful. While our textures may not all be alike, our support and bonds can be one.
            %br/
            Welcome to Tressed!


      %div#useracted
        - if user_signed_in?
          = link_to '<button type="button" class="highlight button">Create a New Post</button>'.html_safe, new_post_path

          %p
          = link_to "All Posts", posts_path

        - else
          = link_to '<button type="button" class="highlight button">JOIN NOW</button>'.html_safe, new_user_registration_path
          = link_to '<button type="button" class="hibye button">LOGIN</button>'.html_safe, new_user_session_path
