= simple_form_for @post do |f|
  - if @post.errors.any?
    %h2
      = pluralize(@post.errors.count, "error")
      prevented this post from saving:
    %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg
  = f.label :title, "Journal Title:"
  = f.text_field :title
  %br/
  = f.label :content, "Write your journal entry here:"
  = f.text_area :content, :id => 'edits'
  %br/
  = f.button :submit

  / Initialize Froala editor.
  :javascript
    $(function() {
        $('#edits').froalaEditor({
          heightMin: 300,
          theme: 'royal',
          toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', 'insertHR', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html'],
          toolbarButtonsXS: ['undo', 'redo' , '-', 'bold', 'italic', 'underline', '|', 'paragraphFormat', 'align', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'insertImage']

      })
    });
