/ ALL THE POSTS INDEX
%header.top-bar
  %h3#SiteTitle.top-bar-left
    = link_to "Tressed", root_path

  %div#useract.top-bar-right
    - if user_signed_in?
      = link_to 'About', about_path
      = link_to 'All Posts', posts_path
      = link_to 'New Post', new_post_path
      = link_to "Hair Profile", intake_path
      = link_to "Update Login", edit_user_registration_path
      = link_to('<button type="button" class="hibye2 button">Logout</button>'.html_safe, destroy_user_session_path, :method => :delete)
    - else
      = link_to 'About', about_path
      = link_to 'All Posts', posts_path
      = link_to'<button type="button" class="hibye2 button">Join Now</button>'.html_safe, new_user_registration_path
      = link_to'<button type="button" class="hibye2 button">Login</button>'.html_safe, new_user_session_path

%div.row
  %h1 All Posts

  - @posts.each do |post|
    %h3.postTitles= link_to post.title, post

    %p.blurbs
      Published:
      = time_ago_in_words(post.created_at)
      ago by
      = post.user.email
%hr/
%div.row.postactions
  %p= link_to "Create A New Post", new_post_path
