/ SEE THE INDIVIDUAL POSTS
!!!
%html
  %head
    %title Tressed App
    %link{:href => "../css/froala_style.min.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %header.top-bar
      %h3#SiteTitle.top-bar-left
        = link_to "Tressed", root_path

      %div#useract.top-bar-right
        - if user_signed_in?
          = link_to 'About', about_path
          = link_to 'All Posts', posts_path
          = link_to 'New Post', new_post_path
          = link_to('<button type="button" class="hibye button">Logout</button>'.html_safe, destroy_user_session_path, :method => :delete)
        - else
          = link_to 'About', about_path
          = link_to 'All Posts', posts_path
          = link_to 'New Post', new_post_path
          = link_to'<button type="button" class="hibye2 button">Join Now</button>'.html_safe, new_user_registration_path
          = link_to'<button type="button" class="hibye2 button">Login</button>'.html_safe, new_user_session_path

    %div.row
      %h1= @post.title
      %p.blurbs
        Published:
        = time_ago_in_words(@post.created_at)
        ago by
        = @post.user.email
      %hr/
      = link_to 'Edit Post', edit_post_path(@post)
      \&vert;
      = link_to 'Delete It', post_path(@post), method: :delete, data: {confirm: "Are you positive about this?"}
      %br/
      %hr/
      %p.fr-view
        = @post.content.html_safe

      %div#share_box
      / SHARE BUTTONS HERE
      = social_share_button_tag(@post.title)

      %br/
      %hr/
      = link_to 'View All Posts', posts_path




