/ EDIT ACCOUNT INFO FORM
%header.top-bar
  %h3#SiteTitle.top-bar-left
    = link_to "Tressed", root_path
  %div#useract.top-bar-right
    - if user_signed_in?
      = link_to "About", about_path
      = link_to 'All Posts', posts_path
      = link_to 'New Post', new_post_path
      = link_to('<button type="button" class="hibye2 button">Logout</button>'.html_safe, destroy_user_session_path, :method => :delete)
    - else
      = link_to "About", about_path
      = link_to 'All Posts', posts_path
      = link_to 'New Post', new_post_path
      = link_to'<button type="button" class="hibye2 button">Join Now</button>'.html_safe, new_user_registration_path
.row
  %h2 Edit Your Login Info
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, required: true, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
      = f.input :password_confirmation, required: false
      = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
    .form-actions
      = f.button :submit, "Update"
  %h3 Cancel my account
  %p
    Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "Back", :back
