<!--FORGOT PASSWORD -->
<header class="top-bar">
  <h3 class="top-bar-left" id="SiteTitle">
      <%= link_to "Tressed", root_path %>
  </h3>
 <div class="top-bar-right" id="useract">
  <% if user_signed_in? %>
    <%= link_to "About", about_path %>
    <%= link_to 'All Posts', posts_path %>
    <%= link_to 'New Post', new_post_path %>
    <%= link_to('<button type="button" class="hibye2 button">Logout</button>'.html_safe, destroy_user_session_path, :method => :delete) %>
  <% else %>
    <%= link_to "About", about_path %>
    <%= link_to 'All Posts', posts_path %>
    <%= link_to 'New Post', new_post_path %>
    <%= link_to'<button type="button" class="hibye2 button">Join Now</button>'.html_safe, new_user_registration_path %>
  <% end %>
</div>

</header>

<div class="row">
<h2>Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
